<% if (val != null) { %>
    <tr class="row">
        <th class="col-2">
            <a href="/boards/home/<%= val.account.name %>/<%= val.accountId %>/0" class="text-dark"><%= val.account.name %></a>
        </th>
        <td class="col-6"><%= val.message %></td>
        <% var d = new Date(val.createdAt);
           var dstr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ''
                      + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
        %>
        <td class="col-2"><%= dstr %></td>
        <!-- メッセージを編集するリンク -->
        <td class="col-1">
            <form action="/boards/edit/<%= val.id %>" method="GET" style="display: inline;">
                <button type="submit" class="btn btn-success btn-sm">編集</button>
            </form>
        </td>
        <!-- メッセージを削除するリンク -->
        <td class="col-1">
            <form action="/boards/delete/<%= val.id %>" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirmDelete('<%= val.id %>')">削除</button>
                <!-- <button type="submit" class="btn btn-danger btn-sm" onclick="confirmDelete('<%= val.id %>')">削除</button> -->
            </form>
        </td>
    </tr>
<% } %>